/*
这是一个提供AKB48及其姊妹团体配色的CSS
兼容IE Chrome Opera FireFox Safari 
但是在IE 9及其以下版本的表现与其他浏览器不同

欢迎完善

本css样式表文件可以以任何形式使用和修改和分发 但要求保留顶部的作者信息

@Author BabyBeaR;
@Email  cugbabybear@gmail.com;
@Date   2013-07-03 17:56;
*/

/*文字颜色*/
.span-akb48{
	color: #ef81b2;
}
.span-ske48{
	color: #f8b600;
}
.span-nmb48{
	color: #a2590c;
}
.span-hkt48{
	color: #000000;
}
.span-jkt48{
	color: #e8211a;
}
.span-snh48{
	color: #8ed2f7;
}
.span-sdn48{
	color: #48526b;
}
.span-ngzk46{
	color: #812991;
}
/*纯色背景*/
.akb48{
	background: #ef81b2;
}
.ske48{
	background: #f8b600;
}
.nmb48{
	background: #a2590c;
}
.hkt48{
	background: #000000;
}
.jkt48{
	background: #e8211a;
}
.snh48{
	background: #8ed2f7;
}
.sdn48{
	background: #48526b;
}
.ngzk46{
	background: #812991;
}
/*水平渐变背景*/
.akb48-lg{
	background-color: hsl(333,77%,72%);
	background-image: -moz-linear-gradient(left,hsl(333,77%,67%),hsl(333,77%,72%),hsl(333,77%,79%));
	background-image: -webkit-gradient(linear,left top,right top,from(hsl(333,77%,67%)),color-stop(hsl(333,77%,72%)),to(hsl(333,77%,79%)));
	background-image: -webkit-linear-gradient(left,hsl(333,77%,67%),hsl(333,77%,72%),hsl(333,77%,79%));
	background-image: -o-linear-gradient(left,hsl(333,77%,67%),hsl(333,77%,72%),hsl(333,77%,79%));
	background-image: linear-gradient(to right,hsl(333,77%,67%),hsl(333,77%,72%),hsl(333,77%,79%));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEC6AA4',endColorstr='#FFF2A0C5',GradientType=1);
	background-repeat: repeat-y;
}
.ske48-lg{
	background-color: hsl(44,100%,48%);
	background-image: -moz-linear-gradient(left,hsl(44,100%,45%),hsl(44,100%,48%),hsl(44,100%,58%));
	background-image: -webkit-gradient(linear,left top,right top,from(hsl(44,100%,45%)),color-stop(hsl(44,100%,48%)),to(hsl(44,100%,58%)));
	background-image: -webkit-linear-gradient(left,hsl(44,100%,45%),hsl(44,100%,48%),hsl(44,100%,58%));
	background-image: -o-linear-gradient(left,hsl(44,100%,45%),hsl(44,100%,48%),hsl(44,100%,58%));
	background-image: linear-gradient(to right,hsl(44,100%,45%),hsl(44,100%,48%),hsl(44,100%,58%));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFE6A800',endColorstr='#FFFFC629',GradientType=1);
	background-repeat: repeat-y;
}
.nmb48-lg{
	background-color: hsl(30,86%,34%);
	background-image: -moz-linear-gradient(left,hsl(30,86%,29%),hsl(30,86%,34%),hsl(37,86%,48%));
	background-image: -webkit-gradient(linear,left top,right top,from(hsl(30,86%,29%)),color-stop(hsl(30,86%,34%)),to(hsl(37,86%,48%)));
	background-image: -webkit-linear-gradient(left,hsl(30,86%,29%),hsl(30,86%,34%),hsl(37,86%,48%));
	background-image: -o-linear-gradient(left,hsl(30,86%,29%),hsl(30,86%,34%),hsl(37,86%,48%));
	background-image: linear-gradient(to right,hsl(30,86%,29%),hsl(30,86%,34%),hsl(37,86%,48%));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF8A4A0A',endColorstr='#FFE49311',GradientType=1);
	background-repeat: repeat-y;
}
.hkt48-lg{
	background-color: hsl(0,0%,0%);
	background-image: -moz-linear-gradient(left,hsl(0,0%,0%),hsl(0,0%,0%),hsl(0,0%,10%));
	background-image: -webkit-gradient(linear,left top,right top,from(hsl(0,0%,0%)),color-stop(hsl(0,0%,0%)),to(hsl(0,0%,10%)));
	background-image: -webkit-linear-gradient(left,hsl(0,0%,0%),hsl(0,0%,0%),hsl(0,0%,10%));
	background-image: -o-linear-gradient(left,hsl(0,0%,0%),hsl(0,0%,0%),hsl(0,0%,10%));
	background-image: linear-gradient(to right,hsl(0,0%,0%),hsl(0,0%,0%),hsl(0,0%,10%));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF000000',endColorstr='#FF1A1A1A',GradientType=1);
	background-repeat: repeat-y;
}
.jkt48-lg{
	background-color: hsl(2,81%,50%);
	background-image: -moz-linear-gradient(left,hsl(2,81%,45%),hsl(2,81%,50%),hsl(2,81%,60%));
	background-image: -webkit-gradient(linear,left top,right top,from(hsl(2,81%,45%)),color-stop(hsl(2,81%,50%)),to(hsl(2,81%,60%)));
	background-image: -webkit-linear-gradient(left,hsl(2,81%,45%),hsl(2,81%,50%),hsl(2,81%,60%));
	background-image: -o-linear-gradient(left,hsl(2,81%,45%),hsl(2,81%,50%),hsl(2,81%,60%));
	background-image: linear-gradient(to right,hsl(2,81%,45%),hsl(2,81%,50%),hsl(2,81%,60%));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFD01C16',endColorstr='#FFEC4C46',GradientType=1);
	background-repeat: repeat-y;
}
.snh48-lg{
	background-color: hsl(201,86%,76%);
	background-image: -moz-linear-gradient(left,hsl(201,86%,71%),hsl(201,86%,76%),hsl(201,86%,86%));
	background-image: -webkit-gradient(linear,left top,right top,from(hsl(201,86%,71%)),color-stop(hsl(201,86%,76%)),to(hsl(201,86%,86%)));
	background-image: -webkit-linear-gradient(left,hsl(201,86%,71%),hsl(201,86%,76%),hsl(201,86%,86%));
	background-image: -o-linear-gradient(left,hsl(201,86%,71%),hsl(201,86%,76%),hsl(201,86%,86%));
	background-image: linear-gradient(to right,hsl(201,86%,71%),hsl(201,86%,76%),hsl(201,86%,86%));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF75C8F5',endColorstr='#FFBDE5FA',GradientType=1);
	background-repeat: repeat-y;
}
.sdn48-lg{
	background-color: hsl(222,19%,35%);
	background-image: -moz-linear-gradient(left top,hsl(222,19%,35%),hsl(222,19%,82%),hsl(222,19%,35%),hsl(222,19%,22%));
	background-image: -webkit-gradient(linear,left top,right bottom,from(hsl(222,19%,35%)),color-stop(hsl(222,19%,82%)),color-stop(hsl(222,19%,35%)),to(hsl(222,19%,22%)));
	background-image: -webkit-linear-gradient(left top,hsl(222,19%,35%),hsl(222,19%,82%),hsl(222,19%,35%),hsl(222,19%,22%));
	background-image: -o-linear-gradient(left top,hsl(222,19%,35%),hsl(222,19%,82%),hsl(222,19%,35%),hsl(222,19%,22%));
	background-image: linear-gradient(to right bottom,hsl(222,19%,35%),hsl(222,19%,82%),hsl(222,19%,35%),hsl(222,19%,22%));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC8CEDA',endColorstr='#FF2D3443',GradientType=1);
	background-repeat: repeat-y;
}
.ngzk46-lg{
	background-color: hsl(290,55%,36%);
	background-image: -moz-linear-gradient(left,hsl(290,55%,31%),hsl(290,55%,36%),hsl(290,55%,49%));
	background-image: -webkit-gradient(linear,left top,right top,from(hsl(290,55%,31%)),color-stop(hsl(290,55%,36%)),to(hsl(290,55%,49%)));
	background-image: -webkit-linear-gradient(left,hsl(290,55%,31%),hsl(290,55%,36%),hsl(290,55%,49%));
	background-image: -o-linear-gradient(left,hsl(290,55%,31%),hsl(290,55%,36%),hsl(290,55%,49%));
	background-image: linear-gradient(to right,hsl(290,55%,31%),hsl(290,55%,36%),hsl(290,55%,49%));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF6C247B',endColorstr='#FFAB38C2',GradientType=1);
	background-repeat: repeat-y;
}